//cku 개인정보 처리방침/ 이메일 무단수집 거부
html,
body {
    // font-family: 'Pretendard';
    min-width: auto;
    word-break: keep-all;
}

.cku {
    .wrap-contents {
        padding: 30px;
    }
}

.objFLoatLeft,
.objFLoatRight {
    overflow: hidden;
}

.objFLoatLeft .objImg {
    float: left;
    margin: 5px;
}

.objFLoatRight .objImg {
    float: right;
    margin: 5px;
}

#_wrap #_wrapArticle #_container {
    min-height: 500px;
    height: auto !important;
    _height: 500px
}

#_wrap #_wrapArticle #_container:after:after,
#_wrap #_wrapArticle #_container:after:before,
#_wrap #_wrapArticle #_container:before:after,
#_wrap #_wrapArticle #_container:before:before,
#_wrap #_wrapArticle:after:after,
#_wrap #_wrapArticle:after:before,
#_wrap #_wrapArticle:before:after,
#_wrap #_wrapArticle:before:before {
    clear: both;
    display: block;
    content: ""
}

#_pageNavigation li {
    float: left;
    margin-left: 10px
}

#_pageNavigation li span {
    display: inline-block;
    zoom: 1;
    *display: block
}

#_pageNavigation:after:after,
#_pageNavigation:after:before,
#_pageNavigation:before:after,
#_pageNavigation:before:before {
    clear: both;
    display: block;
    content: ""
}

._obj {
    overflow: hidden;
    position: relative
}

._obj .widgetIframe {
    width: 100%
}

._obj._objImage img {
    max-width: 100%;
    width: auto !important;
    _width: 100%;
    max-height: 100%;
    height: auto !important;
    _height: 100%;
    display: block;
    margin: 0 auto
}

._obj._objHtml ._content,
._obj._objTag ._content {
    width: 100%;
    height: 100%
}

._obj._objWidget ._relative ._content ._sample {
    text-align: center;
    padding: 10em 0
}

._obj._objWidget ._relative ._content iframe.widgetIframe {
    border: 0;
    overflow: hidden;
    width: 100%;
    height: 100%
}

._obj._objWidget ._relative ._content:after {
    content: "widget";
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #959595;
    padding: .1em 0;
    background: rgba(0, 0, 0, .36);
    text-align: center;
    display: none
}

._obj._objEditable ._relative ._objTool {
    width: 30px
}

._obj._objEditable ._relative ._objTool ._del {
    display: none
}

._obj ._msgWrap {
    padding: 3em 0 2em;
    border: 1px solid #eee;
    background-color: #f7f7f7;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .1)
}

._msMain #_wrap #_wrapArticle #_container {
    position: relative;
    height: 100%
}

._contentBuilder {
    position: relative
}

._contentBuilder._k2__WiZaRd_basic {
    position: relative;
    min-height: 500px
}

._contentBuilder._k2__WiZaRd_basic ._obj {
    position: absolute
}

._contentBuilder._k2__WiZaRd_basic ._obj._objHeading,
._contentBuilder._k2__WiZaRd_basic ._obj._objImage {
    height: auto !important
}

._contentBuilder._k2__WiZaRd_basic ._obj._objHeading,
._contentBuilder._k2__WiZaRd_basic ._obj._objHtml,
._contentBuilder._k2__WiZaRd_basic ._obj._objImage,
._contentBuilder._k2__WiZaRd_basic ._obj._objTag,
._contentBuilder._k2__WiZaRd_basic ._obj._objWidget {
    width: 100%
}

._contentBuilder._k2__WiZaRd_general ._obj._objImage {
    height: auto
}

#_masterContentBuilder {
    color: #d84a38;
    border: 1px dotted #d84a38;
    line-height: 500px;
    text-align: center
}

#_masterMultipleContentBuilder {
    color: #4285f4;
    border: 1px dotted #4285f4;
    text-align: center;
    padding: 96px 0
}

#_masterMultipleContentBuilder ._masterMultipleCbTitle {
    padding-bottom: 1em
}

#_masterMultipleContentBuilder ._inner {
    overflow: hidden;
    margin: 0 auto;
    width: 580px
}

#_masterMultipleContentBuilder ._inner ._mExample {
    border: 1px dotted #4285f4;
    background-color: #fff;
    width: 260px;
    padding: 10px;
    height: 260px;
    text-align: left
}

#_masterMultipleContentBuilder ._inner ._mExample._left {
    float: left
}

#_masterMultipleContentBuilder ._inner ._mExample._right {
    float: right
}

#_masterMultipleContentBuilder ._inner ._mExample h3 {
    padding-bottom: 1em
}

.syncDiv {
    padding: 5em 0;
    text-align: center;
    border: 1px dotted #4285f4
}

.dummyImageDataList .imageDataList.imageType_more {
    overflow: hidden
}

.multipleContentsDiv,
.multipleDiv {
    position: relative
}

.wrap-contents .container {
    max-width: 1400px;
}

@media all and (max-width: 1400px) {
    .wrap-contents .container {
        padding: 0 20px;
    }
}

.wrap-contents .objHeading_h2 {
    position: relative;

    display: block;
    line-height: 1.5;
    font-size: 24px;
    letter-spacing: -0.5px;
    color: #222222;
    margin-top: 65px;
}

.wrap-contents .objHeading_h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: -15px;
    width: 19px;
    height: 13px;
    background: url('../images/bul_h2.png') no-repeat center center;
}

.wrap-contents .objHeading_h3 {
    position: relative;

    display: block;
    line-height: 1.5;
    font-size: 20px;
    letter-spacing: -0.5px;
    color: #046478;
    margin-top: 45px;
}

.wrap-contents .objHeading_h3::before {
    content: "";
    position: absolute;
    left: 0;
    top: -7px;
    width: 28px;
    height: 2px;
    background: #046478;
}

.wrap-contents .objHeading_h4 {
    position: relative;

    display: block;
    line-height: 1.5;
    font-size: 20px;
    letter-spacing: -0.5px;
    color: #139cb4;
    margin-top: 30px;
    padding-left: 20px;
}

.wrap-contents .objHeading_h4::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 12px;
    height: 12px;
    background: #139cb4;
    border-radius: 100%;
}

.wrap-contents .objHeading_h5 {
    position: relative;

    display: block;
    line-height: 1.5;
    font-size: 18px;
    letter-spacing: -0.5px;
    color: #333333;
    margin-top: 30px;
    padding-left: 19px;
}

.wrap-contents .objHeading_h5::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 10px;
    height: 10px;
    border: 2px solid #139cb4;
    border-radius: 100%;
}

.wrap-contents .objHeading_h1.no-margin,
.wrap-contents .objHeading_h2.no-margin,
.wrap-contents .objHeading_h3.no-margin,
.wrap-contents .objHeading_h4.no-margin,
.wrap-contents .objHeading_h5.no-margin {
    margin-top: 0;
}

.wrap-contents .objHeading_h2.no-margin {
    margin-top: 15px;
}

.wrap-contents .subject {
    text-align: center;
}

.wrap-contents .subject h2 {
    position: relative;
    display: inline-block;
    font-size: 36px;

    margin: 73px 0 65px 0;
    line-height: 1.2;
}

.wrap-contents .subject h2:after {
    content: '';
    position: absolute;
    left: 50%;
    top: -39px;
    width: 47px;
    height: 28px;
    margin: 0 0 0 -23px;
    background: url('../images/bul-title.png') no-repeat center center;
}

@media all and (max-width: 1000px) {
    .wrap-contents .subject h2 {
        margin: 70px 0 30px 0;
        font-size: 28px;
    }
}

@media all and (max-width: 500px) {
    .wrap-contents .subject h2 {
        font-size: 26px;
    }
}

.wrap-contents .con-desc {

    font-size: 18px;
    line-height: 1.7;
    letter-spacing: -0.5px;
    color: #666;
}

.wrap-contents .con-desc strong {

    color: #000;
}

.wrap-contents ._objHtml.no-margin {
    margin-top: 0px !important;
}

.wrap-contents ._objHtml.no-margin>div {
    margin-top: 0px !important;
}

.wrap-contents .con-list li {
    padding: 0 0 0 20px;
    color: #666;
    background: url('../images/bul_list.png') no-repeat left 9px;
}

.wrap-contents .con-list strong {
   
    color: #222;
}

.wrap-contents .con-list2 li {
    position: relative;
    padding: 0 0 0 20px;
    color: #666;
}

.wrap-contents .con-list2 li:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 11px;
    width: 4px;
    height: 4px;
    background: #018cff;
}

.wrap-contents .align-r {
    text-align: right;
}

.wrap-contents .align-c {
    text-align: center;
}

.wrap-contents .align-l {
    text-align: left;
}

.wrap-contents .p-color1 {
    color: #183d93;
}

.wrap-contents .p-color2 {
    color: #018cff;
}

.wrap-contents .p-color3 {
    color: #eb8105;
}

.wrap-contents .txt-color1 {
    color: #d63f11;
}

.wrap-contents .txt-color2 {
    color: #00c6ff;
}

.wrap-contents .txt-color3 {
    color: #faa635;
}

.wrap-contents .txt-color4 {
    color: #00b622;
}

.wrap-contents .txt-bold {

}

.wrap-contents .con-table {
    position: relative;
    line-height: 1.6;
}

.wrap-contents .con-table:after {
    content: '';
    position: absolute;
    right: 0px;
    top: 0px;
    width: 1px;
    height: 100%;
    background: #fff;
}

.wrap-contents .con-table table {
    position: relative;
}

.wrap-contents .con-table table:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #104650
}

.wrap-contents .con-table table:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    width: 1px;
    height: 100%;
    background: #FFF;
}

.wrap-contents .con-table thead th {
    padding: 13px 10px;

    font-weight: normal;
    background: #fff;
    color: #000;
    border-right: 1px solid #dddee0;
    border-bottom: 1px solid #2a2b2b;
    font-size: 18px;
}

.wrap-contents .con-table thead th.color {
    background: #eef3f4;

}

.wrap-contents .con-table thead tr:first-child th:first-child {
    position: relative;
}

.wrap-contents .con-table thead tr:first-child th:first-child::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 2px;
    background: #1c9db3;
}

.wrap-contents .con-table tbody {
    display: table-header-group;
}

.wrap-contents .con-table tbody::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #8f8f8f;
}

.wrap-contents .con-table tbody th {
    padding: 12px 20px;

    font-weight: normal;
    background: #fbfbfb;
    color: #000;
    border-right: 1px solid #dddee0;
    border-bottom: 1px solid #ccd0d7;
    font-size: 16px;
}

.wrap-contents .con-table tbody td {
    padding: 12px 20px;

    background: #fff;
    color: #666;
    border-right: 1px solid #dddee0;
    border-bottom: 1px solid #dddee0;
    font-size: 16px;
    text-align: left;
}

.wrap-contents .con-table tbody td a {
    color: #333;
}

.wrap-contents .con-table .list>li {
    position: relative;
    padding-left: 20px;
}

.wrap-contents .con-table .list>li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    width: 8px;
    height: 8px;
    background: #b4c1dd;
    border-radius: 100%;
}

.wrap-contents .con-table .align-l {
    text-align: left;
}

.wrap-contents .con-table .align-c {
    text-align: center;
}

.wrap-contents .con-table .align-r {
    text-align: right;
}

.wrap-contents .con-table strong {

    color: #000;
}

@media all and (max-width:960px) {
    .wrap-contents .con-table {
        overflow-x: hidden;
    }

    .wrap-contents .con-table table {
        width: 870px;
    }

    .wrap-contents .con-table:after {
        content: '';
        position: absolute;
        right: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(60, 81, 82, 0.4) url('../images/img_mobile_text.png') no-repeat center 40px;
    }

    .wrap-contents .con-table.on:after {
        display: none;
    }

    .wrap-contents .con-table thead th,
    .wrap-contents .con-table tbody th,
    .wrap-contents .con-table tbody td {
        padding: 10px 8px;
        font-size: 16px;
    }
}

.wrap-contents .con-ready {
    padding: 80px 0;
    text-align: center;
    background: url('../images/bg_ready.jpg') no-repeat center top;
    border: 1px solid #cccccc;
}

.wrap-contents .con-ready .text {
    font-size: 38px;
    padding: 32px 0 0 0;
}

.wrap-contents .con-ready .text span {
   
    position: relative;
    color: #018cff;
    display: inline-block;
    padding: 0 6px;
}

.wrap-contents .con-ready .text span:last-child:after {
    display: none;
}

.wrap-contents .con-ready .text span:after {
    content: '/';
    position: absolute;
    right: -7px;
    top: 15px;
    font-size: 15px;
    font-family: Noto Black;
}

@media all and (max-width:420px) {
    .wrap-contents .con-ready .text {
        font-size: 26px;
    }

    .wrap-contents .con-ready .text span:after {
        top: 8px;
    }
}

.sub-indent {
    padding-left: 20px;
}

.wrap-contents .tab .mobile-tab {
    display: none;
}

.styleguide .tab_div .ul_5 {
    margin: -20px 0 0 0;
}

.tab_div .ul_4 {
    position: relative;
    overflow: hidden;
    margin: 0 0 50px 0;
}

.tab_div .ul_4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #d1d1d1;
}

.tab_div .ul_4>li {
    position: relative;
    float: left;
    width: 20%;
    border-bottom: 1px solid #CBCBCB;
}

.tab_div .ul_4>li::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    background: #CBCBCB;
    left: 0;
    top: 18px;
    transition: opacity 0.3s;
}

.tab_div .ul_4>li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 101%;
    box-sizing: border-box;
    border: 3px solid #139cb4;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.tab_div .ul_4>li>a {
    position: relative;
    display: block;
    padding: 15px 50px 16px 20px;
    font-size: 16px;
    font-family: "Noto DemiLight";
    letter-spacing: -0.5px;
    color: #555555;
    z-index: 3;
}

.tab_div .ul_4>li>a::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border: 1px solid #CBCBCB;
    border-radius: 50%;
    right: 20px;
    top: 15px;
    background: url("../images/more_arrow_1.png") no-repeat 58% center;
    transition: all 0.3s;
}

.tab_div .ul_4>li>a[target=_blank]::after {
    content: '';
    position: relative;
    top: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 0 0 5px;
    background: url(../images/tab-link-blank.png) no-repeat 93% center;
}

.tab_div .ul_4>li._active>a,
.tab_div .ul_4>li:hover>a {

    color: #046478;
}

.tab_div .ul_4>li:hover::before {
    opacity: 0;
}

.tab_div .ul_4>li:hover+li::before {
    opacity: 0;
}

.tab_div .ul_4>li._active::after,
.tab_div .ul_4>li:hover::after {
    opacity: 1;
}

.tab_div .ul_4>li._active>a::before,
.tab_div .ul_4>li:hover>a::before {
    background: #89cdd9 url("../images/more_arrow_1_white.png") no-repeat 58% center;
    border-color: #89cdd9;
}

.tab_div .ul_4>li._active>a[target=_blank]::after,
.tab_div .ul_4>li:hover>a[target=_blank]::after {
    background: url('../images/tab-link-blank-ov.png');
}

.tab_div .ul_5 {
    overflow: hidden;
    margin: -20px 0 50px 0;
}

.tab_div .ul_5>li {
    position: relative;
    float: left;
    margin: 5px 5px;
}

.tab_div .ul_5>li::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 10px;
    background: #C8C8C8;
    left: 0;
    bottom: 0;
}

.tab_div .ul_5>li::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 10px;
    background: #C8C8C8;
    right: 0;
    bottom: 0;
}

.tab_div .ul_5>li>a {
    position: relative;
    display: block;
    padding: 12px 19px 14px 19px;
    z-index: 2;
    font-size: 16px;
    font-family: "Noto Medium";
    color: #1b1b1b;
    transition: color 0.3s;
}

.tab_div .ul_5>li>a::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 3px;
    background: #C8C8C8;
    left: 0;
    bottom: 0;
    transition: height 0.3s;
}

.tab_div .ul_5>li>a[target=_blank]::after {
    content: '';
    position: relative;
    top: 3px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 0 0 5px;
    background: url(../images/tab-link-blank.png) no-repeat 93% center;
}

.tab_div .ul_5>li._active>a::before,
.tab_div .ul_5>li:hover>a::before {
    height: 100%;
    background: #046478;
}

.tab_div .ul_5>li._active>a,
.tab_div .ul_5>li:hover>a {
    color: #fff;
}

.tab_div .ul_5>li._active>a[target=_blank]::after,
.tab_div .ul_5>li:hover>a[target=_blank]::after {
    background: url('../images/tab-link-blank-white.png');
}

@media all and (max-width: 1000px) {
    .tab_div .ul_4>li {
        width: 25%;
    }

    .tab_div .ul_4>li>a {
        font-size: 14px;
    }
}

@media all and (max-width:860px) {

    .tab_div .ul_4>li a::before,
    .tab_div .ul_4>li a::before {
        display: none;
    }

    .tab_div .ul_4>li._active>a,
    .tab_div .ul_4>li:hover>a {
    
        color: #23a3b9;
    }

    .wrap-contents .tab {
        position: relative;
    }

    .wrap-contents .tab ul {
        position: absolute;
        top: 60px;
        z-index: -1;
        width: 100%;
        margin-bottom: 30px;
        overflow: hidden;
        max-height: 0;
        transition: all 0.5s ease;
        border: 1px solid #fff;
    }

    .wrap-contents .tab ul.on {
        max-height: 600px;
        z-index: 10;
        border-left: 1px solid #d1d1d1;
        border-right: 1px solid #d1d1d1;
        border-top: 1px solid #d1d1d1;
    }

    .wrap-contents .tab ul li {
        display: block;
        width: 100% !important;
        padding: 0;
        border: 0
    }

    .wrap-contents .tab ul li a {
        display: block;
        padding: 13px 40px;
        border-bottom: 1px solid #d1d1d1;
        text-align: left;
        background: #fff;
        height: auto;
        font-size: 16px;
        line-height: normal;
    }

    .wrap-contents .tab ul li a:hover {
        border-bottom: 1px solid #23a3b9;
    }

    .wrap-contents .tab ul li a:after {
        display: none;
    }

    .wrap-contents .tab ul li a span {
        display: block;
        padding: 0 20px;
    }

    .wrap-contents .tab ul li a span:before {
        bottom: -11px;
    }

    .wrap-contents .tab ul li:after {
        display: none;
    }

    .wrap-contents .tab .mobile-tab {
        position: relative;
        display: block;
        width: 100%;
    
        margin-bottom: 30px;
        text-align: left;
        font-size: 16px;
        color: #046478;
        border: 3px solid #139cb4;
        padding: 10px 40px;
        background: url('../images/arrow-sel.png') no-repeat 97% center;
    }

    .wrap-contents .tab .mobile-tab::after {
        content: '';
        position: absolute;
        left: 20px;
        top: 17px;
        width: 10px;
        height: 11px;
        background: url('../images/dot-sel.png') no-repeat center center;
    }

    .wrap-contents .tab .mobile-tab.on {
        background: #006276 url('../images/arrow-sel-rever.png') no-repeat 97% center;
        border: 3px solid #006276;
        color: #fff;
    }

    .wrap-contents .tab .mobile-tab.on::after {
        background: url('../images/dot-sel-rever.png') no-repeat center center;
    }

    .wrap-contents .tab ul li a[target=_blank] {
        background-position: 97% center !important;
    }
}

.con-list1 ul li {
    position: relative;

    font-size: 18px;
    line-height: 1.6;
    letter-spacing: -0.5px;
    color: #333333;
    margin: 5px 0 0 0;
    padding-left: 20px;
}

.con-list1 ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 2px solid #139cb4;
    border-radius: 100%;
}

.con-list1 ul li strong {
   
    font-size: 18px;
    color: #222;
}

.con-arrow-list ul li {
    position: relative;
    padding-left: 18px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.5px;
    color: #333333;
}

.con-arrow-list ul li::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 4px;
    background: url("../images/ic_list3_arrow.png") no-repeat;
    left: 0;
    top: 13px;
}

.circle-num-title {
    position: relative;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #333333;
    font-family: "Noto Medium";
    padding-left: 25px;
}

.circle-num-title .num {
    position: absolute;
    left: 0;
    top: 2px;
    display: inline-block;
    vertical-align: middle;
    font-family: "TitilliumWeb-SemiBold";
    font-size: 10px;
    letter-spacing: -0.5px;
    color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #4393de;
    text-align: center;
    margin-right: 5px;
    line-height: 16px;
}

.circle-num-list li {
    position: relative;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: -0.5px;
    color: #666;
    padding-left: 25px;
    margin: 5px 0;
}

.circle-num-list li .num {
    position: absolute;
    left: 0;
    top: 6px;
    display: inline-block;
    vertical-align: middle;
    font-family: "TitilliumWeb-SemiBold";
    font-size: 10px;
    letter-spacing: -0.5px;
    color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #4393de;
    text-align: center;
    margin-right: 5px;
    line-height: 16px;
}

.point-txt {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.5px;
    padding-left: 40px;
}

.point-txt.point-txt1 {
    color: #e77800;
    background: url("../images/ic_point_1.png") no-repeat left 3px;
}

.point-txt.point-txt2 {
    color: #d63f11;
    background: url("../images/ic_point_2.png") no-repeat left 3px;
}

.point-txt.point-txt3 {
    color: #0090ff;
    background: url("../images/ic_point_3.png") no-repeat left 3px;
}

.point-txt.point-txt4 {
    color: #183d93;
    background: url("../images/ic_point_4.png") no-repeat left 3px;
}

.point-txt.point-txt5 {
    color: #43505d;
    background: url("../images/ic_point_5.png") no-repeat left 3px;
}

.wrap-contents .down-banner {
    border: 1px solid #c1c1c1;
    padding: 20px 50px;
    padding-bottom: 0;
    font-size: 0;
}

.wrap-contents .down-banner ul {
    display: inline-block;
    width: 100%;
}

.wrap-contents .down-banner li {
    float: left;
    width: 33.333%;
    margin-bottom: 20px;
}

.wrap-contents .down-banner .text {
    display: inline-block;
    background: url('../images/bul-list2.png') no-repeat left 11px;
    margin-right: 47px;
    padding-left: 20px;
   
    font-size: 17px;
    color: #000;
}

.wrap-contents .down-banner.row2 li {
    width: 50%;
}

@media all and (max-width: 1400px) {
    .wrap-contents .down-banner li {
        width: 50%;
    }
}

@media all and (max-width: 970px) {
    .wrap-contents .down-banner li {
        width: 100%;
    }

    .wrap-contents .down-banner.row2 li {
        width: 100%;
    }
}

@media all and (max-width: 760px) {
    .wrap-contents .down-banner {
        padding: 20px 20px;
    }

    .wrap-contents .down-banner .text {
        display: block;
        width: 100%;
    }

    .wrap-contents .down-banner .btn-style.rect {
        margin: 7px 0 0 19px;
    }
}

.wrap-contents .btn-style.round {
    display: inline-block;
    position: relative;
    background: #fff;
    margin-right: 3px;
    padding: 5px 30px 6px 45px;
    border-radius: 30px;
    border: 1px solid #c1c1c1;
   
    font-size: 17px;
    color: #000;
}

.wrap-contents .btn-style.round:hover {
    background: #006276;
    border-color: #006276;
    color: #fff;
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

.wrap-contents .btn-style.round.type1:after {
    content: '';
    position: absolute;
    left: 16px;
    top: 10px;
    width: 18px;
    height: 17px;
    background: url('../images/ico-btn1.png') no-repeat center top;
}

.wrap-contents .btn-style.round.type1:hover:after {
    background-position: center bottom;
}

.wrap-contents .btn-style.round.type2:after {
    content: '';
    position: absolute;
    left: 16px;
    top: 11px;
    width: 18px;
    height: 17px;
    background: url('../images/ico-btn2.png') no-repeat center top;
}

.wrap-contents .btn-style.round.type2:hover:after {
    background-position: center bottom;
}

.wrap-contents .btn-style.round.space {
    margin-left: 20px;
}

@media all and (max-width: 588px) {
    .wrap-contents .btn-style.round.space {
        margin-left: 0px;
        margin-top: 20px;
    }

    .wrap-contents .btn-style.round {
        margin: 0 0 15px 0
    }
}

.wrap-contents .btn-style.rect {
    display: inline-block;
    position: relative;
    background: #fff;
    margin-right: 10px;
    padding: 3px 20px 4px 37px;
    border-radius: 5px;
    border: 1px solid #b9c1d7;
   
    font-size: 16px;
    color: #000;
}

.wrap-contents .btn-style.rect:hover {
    background: #006276;
    border-color: #006276;
    color: #fff;
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

.wrap-contents .btn-style.rect.type1:after {
    content: '';
    position: absolute;
    left: 14px;
    top: 7px;
    width: 13px;
    height: 17px;
    background: url('../images/ico-btn3.png') no-repeat center top;
}

.wrap-contents .btn-style.rect.type1:hover:after {
    background-position: center bottom;
}

.wrap-contents .btn-style.rect.type2:after {
    content: '';
    position: absolute;
    left: 15px;
    top: 8px;
    width: 15px;
    height: 15px;
    background: url('../images/ico-btn4.png') no-repeat center top;
}

.wrap-contents .btn-style.rect.type2:hover:after {
    background-position: center bottom;
}

.wrap-contents .btn-style.rect.type3:after {
    content: '';
    position: absolute;
    left: 15px;
    top: 8px;
    width: 12px;
    height: 15px;
    background: url('../images/ico-btn5.png') no-repeat center top;
}

.wrap-contents .btn-style.rect.type3:hover:after {
    background-position: center bottom;
}

.wrap-contents .btn-style.rect.type4:after {
    content: '';
    position: absolute;
    left: 12px;
    top: 8px;
    width: 19px;
    height: 15px;
    background: url('../images/ico-btn6.png') no-repeat center top;
}

.wrap-contents .btn-style.rect.type4:hover:after {
    background-position: center bottom;
}

.wrap-contents .btn-style.rect.type5:after {
    content: '';
    position: absolute;
    left: 12px;
    top: 8px;
    width: 16px;
    height: 16px;
    background: url('../images/ico-btn7.png') no-repeat center top;
}

.wrap-contents .btn-style.rect.type5:hover:after {
    background-position: center bottom;
}

.wrap-contents .btn-style.small {
    display: inline-block;
    position: relative;
    background: #fff;
    margin-right: 10px;
    padding: 2px 10px 2px 21px;
    border-radius: 3px;
    border: 1px solid #b9c1d7;
   
    font-size: 13px;
    color: #000;
}

.wrap-contents .btn-style.small:hover {
    background: #fff;
    border-color: #006276;
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

.wrap-contents .btn-style.small.type1:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 7px;
    width: 6px;
    height: 9px;
    background: url('../images/ico-btn8.png') no-repeat center top;
}

.wrap-contents .btn-style.small.type1:hover:after {
    background-position: center bottom;
}

.wrap-contents .btn-style.big-rect {
    display: inline-block;
    position: relative;
    background: #fff;
    margin-right: 10px;
    padding: 25px 120px 25px 25px;
    border: 1px solid #b9c1d7;

    font-size: 18px;
    color: #000;
}

.wrap-contents .btn-style.big-rect:hover {
    background: #528bc0;
    border-color: #528bc0;
    color: #fff;
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

.wrap-contents .btn-style.big-rect.type1:after {
    content: '';
    position: absolute;
    right: 30px;
    top: 34px;
    width: 9px;
    height: 9px;
    background: url('../images/ico-btn9.png') no-repeat center top;
}

.wrap-contents .btn-style.big-rect.type1:hover:after {
    background-position: center bottom;
}

@media all and (max-width: 768px) {
    .wrap-contents .btn-style.big-rect {
        width: 100%;
        text-align: left;
    }
}

.sub-link-bx {
    padding: 5px;
    background: #cee8ef
}

.sub-link-inner {
    background: #fff;
    padding: 22px 30px 22px 20px;
    overflow: hidden;
    display: table;
    width: 100%;
}

.sub-link-icon {
    display: table-cell;
    vertical-align: middle;
    width: 70px;
}

.sub-link-info {
    display: table-cell;
    vertical-align: middle;
    width: auto;
    padding: 0 50px 0 18px;

    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #222;
}

.sub-link-btn {
    display: table-cell;
    vertical-align: middle;
    width: 160px;
}

@media all and (max-width: 768px) {
    .sub-link-inner {
        display: block;
    }

    .sub-link-icon {
        display: block;
        width: 100%;
        text-align: center;
    }

    .sub-link-icon img {
        display: inline-block;
    }

    .sub-link-info {
        display: block;
        margin: 20px 0;
        padding: 0;
    }

    .sub-link-btn {
        display: block;
    }
}

.sub-btn-group .link-btn {
    position: relative;
    display: block;

    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #fff;
    border: 1px solid #139cb4;
    color: #139cb4;
    transition: all 0.3s;
    overflow: hidden;
}

.sub-btn-group .link-btn::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: #139cb4;
    left: -30px;
    top: 0;
    transition: all 0.5s;
    z-index: 1;
    transform: skewX(-45deg);
}

.sub-btn-group .link-btn span {
    position: relative;
    display: block;
    z-index: 3;
    padding: 10px 40px 10px 15px;
    transition: all 0.3s;
}

.sub-btn-group .link-btn span::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 17px;
    width: 30px;
    height: 1px;
    background: #139cb4;
    transition: .4s;
}

.sub-btn-group .link-btn:hover {
    color: #fff;
}

.sub-btn-group .link-btn:hover::before {
    width: 140%;
}

.sub-btn-group .link-btn:hover span::after {
    background: #fff;
}


.wrap-rating {
    background: #f5f5f5;
    margin-top: 50px;
}

.wrap-rating .container {
    display: table;
    width: 100%;
    padding: 46px 30px;
}

.wrap-rating .title,
.wrap-rating .person,
.wrap-rating .vote {
    display: table-cell;
    vertical-align: middle;
}

.wrap-rating .vote {
    text-align: right;
}

.wrap-rating .title {
    width: 300px;

    font-size: 16px;
    color: #151515;
}

.wrap-rating .title p {
    position: relative;
    display: inline-block;
}

.wrap-rating .title p:after {
    content: '';
    position: absolute;
    left: 131%;
    top: 50%;
    width: 142px;
    height: 1px;
    background: #222;
}

.wrap-rating .person .team,
.wrap-rating .person .tel,
.wrap-rating .person .date {
    display: inline-block;
    background: url('../images/ico-rating.png') no-repeat;
    margin-left: 46px;
    padding: 6px 0 6px 50px;
   
    font-size: 16px;
    color: #151515;
}

.wrap-rating .person .team {
    background-position: 0 0;
    margin-left: 60px;
}

.wrap-rating .person .tel {
    background-position: 0 -36px;
    letter-spacing: 0;
    margin-left: 110px;
}

.wrap-rating .person .date {
    background-position: 0 -72px;
    letter-spacing: 0;
}

.wrap-rating .vote .input,
.wrap-rating .vote .btn {
    display: inline-block;
    vertical-align: middle;
}

.wrap-rating .vote .input ul {
    font-size: 0;
}

.wrap-rating .vote .input li {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 34px;
    margin-left: 5px;
}

.wrap-rating .vote .input input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.wrap-rating .vote .input .radiobtn {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/ico-star.png') no-repeat;
}

.wrap-rating .vote .input .star5 .radiobtn {
    background-position: 0 0;
}

.wrap-rating .vote .input .star4 .radiobtn {
    background-position: -35px 0;
}

.wrap-rating .vote .input .star3 .radiobtn {
    background-position: -70px 0;
}

.wrap-rating .vote .input .star2 .radiobtn {
    background-position: -105px 0;
}

.wrap-rating .vote .input .star1 .radiobtn {
    background-position: -140px 0;
}

.wrap-rating .vote .input input:checked~.radiobtn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/ico-star.png') no-repeat;
}

.wrap-rating .vote .input input:focus~.radiobtn:before {
    content: '';
    position: absolute;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
    border: 2px solid #000
}

.wrap-rating .vote .input .star5 input:checked~.radiobtn:after {
    background-position: 0 bottom;
}

.wrap-rating .vote .input .star4 input:checked~.radiobtn:after {
    background-position: -35px bottom;
}

.wrap-rating .vote .input .star3 input:checked~.radiobtn:after {
    background-position: -70px bottom;
}

.wrap-rating .vote .input .star2 input:checked~.radiobtn:after {
    background-position: -105px bottom;
}

.wrap-rating .vote .input .star1 input:checked~.radiobtn:after {
    background-position: -140px bottom;
}

.wrap-rating .vote .btn {
    position: relative;
    padding: 0 0 0 30px;
}

.wrap-rating .vote .btn .btn-vote {
    position: relative;
    padding: 0;
    font-family: 'Mont SemiBold';
    font-size: 15px;
    text-decoration: underline;
    color: #2b2b2b;
    cursor: pointer;
}

@media all and (max-width: 1400px) {
    .wrap-rating .container {
        padding: 20px 40px;
    }

    .wrap-rating .title {
        width: 160px;
    }

    .wrap-rating .title p:after {
        display: none;
        left: 0;
        top: 142%;
        width: 70px;
    }

    .wrap-rating .person .team,
    .wrap-rating .person .tel,
    .wrap-rating .person .date {
        margin-left: 0;
        margin-right: 20px;
        font-size: 15px;
    }

    .wrap-rating .person .tel {
        background-position: 0 -22px;
    }

    .wrap-rating .person .date {
        background-position: 0 -44px;
        margin-bottom: 0;
    }

    .wrap-rating .vote {
        width: 200px;
        text-align: right;
    }

    .wrap-rating .vote .btn {
        padding-left: 0;
        margin-left: 0;
        margin-top: 23px;
    }

    .wrap-rating .vote .btn:after {
        display: none;
    }
}

@media all and (max-width: 1023px) {
    .wrap-rating {
        margin-top: 50px;
    }

    .wrap-rating .person .date {
        margin-bottom: 0;
    }
}

@media all and (max-width: 670px) {
    .wrap-rating .container {
        padding: 20px;
    }

    .wrap-rating .title {
        width: 40%
    }

    .wrap-rating .person {
        width: 60%;
    }

    .wrap-rating .vote {
        overflow: hidden;
        display: block;
        float: left;
        width: 100%;
        margin-top: 33px;
    }

    .wrap-rating .vote .input,
    .wrap-rating .vote .btn {
        display: block;
    }

    .wrap-rating .vote .input {
        float: left;
    }

    .wrap-rating .vote .btn {
        float: right;
        margin-top: 6px;
    }
}

table {
    width: 100%;
    th{
        text-align: center;
        font-weight: 700!important;
    }
}
