<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <div class="ml-auto">
        <div class="d-flex align-items-center pr-2">
            <div class="d-flex align-items-center">
                <i class="fas fa-user-circle mr-2 font-size-30px"></i>
                <a href="">관리자</a>
            </div>
            <button type="button" class="btn btn-light btn-round ml-4">로그아웃</button>
        </div>
    </div>
</nav>
<!-- /.navbar -->