<div class="pagination">
    <a href="#none" class="first" aria-hidden="true">
        <i class="fas fa-angle-double-left"></i>
    </a>
    <a href="#none" class="prev mr-3" aria-hidden="true">
        <i class="fas fa-angle-left"></i>
    </a>
    <a href="#none" class="active">1</a>
    <a href="#none">2</a>
    <a href="#none">3</a>
    <a href="#none">4</a>
    <a href="#none">5</a>
    <a href="#none">6</a>
    <a href="#none">7</a>
    <a href="#none">8</a>
    <a href="#none">9</a>
    <a href="#none">10</a>
    <a href="#none" class="next ml-3" aria-hidden="true">
        <i class="fas fa-angle-right"></i>
    </a>
    <a href="#none" class="end" aria-hidden="true">
        <i class="fas fa-angle-double-right"></i>
    </a>
</div>