<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary">
    <!-- Brand Logo -->
    <a href="#none" class="brand-link text-center">
        <!-- <span class="brand-image"><img src="//assets/images/logo.svg" alt="서초구 Logo" class="img-circle"></span> -->
        <img src="/assets/images/logo.svg" alt="" style="width:162px">
        <div class="mt-1">항공운항학과</div>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <nav>
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview">
                    <a href="../student/student_list.html" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            학생관리
                            <i class="right fas fa-angle-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../student/student_list.html" class="nav-link" data-menu="student">
                                <i class="far fa-circle nav-icon"></i>
                                <p>재학생관리</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../student/practice_student_list.html" class="nav-link" data-menu="practice-student">
                                <i class="far fa-circle nav-icon"></i>
                                <p>훈련학생관리</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="../flight/flight_list.html" class="nav-link">
                        <i class="nav-icon fas fa-school"></i>
                        <p>
                            비행훈련관리
                            <i class="right fas fa-angle-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../flight/flight_list.html" class="nav-link" data-menu="flight">
                                <i class="far fa-circle nav-icon"></i>
                                <p>비행종합정보</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../flight/flight_schedule_list.html" class="nav-link" data-menu="schedule">
                                <i class="far fa-circle nav-icon"></i>
                                <p>비행스케줄관리</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../flight/flight_instructor_list.html" class="nav-link" data-menu="instructor-schedule">
                                <i class="far fa-circle nav-icon"></i>
                                <p>교관별 비행스케줄</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../flight/flight_student_list.html" class="nav-link" data-menu="student-edu">
                                <i class="far fa-circle nav-icon"></i>
                                <p>학생교육정보</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="../plan/daily_list.html" class="nav-link">
                        <i class="nav-icon fas fa-plane"></i>
                        <p>
                            운항계획/실시사항
                            <i class="right fas fa-angle-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../plan/daily_list.html" class="nav-link" data-menu="daily">
                                <i class="far fa-circle nav-icon"></i>
                                <p>일자별 운항계획</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../plan/instructor_monthly_list.html" class="nav-link" data-menu="instructor-monthly">
                                <i class="far fa-circle nav-icon"></i>
                                <p>교관 월별 기준</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../plan/student_monthly_list.html" class="nav-link" data-menu="student-monthly">
                                <i class="far fa-circle nav-icon"></i>
                                <p>학생 월별 기준</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="../faculty/faculty_list.html" class="nav-link">
                        <i class="nav-icon fas fa-chalkboard-teacher"></i>
                        <p>
                            전문교육학과관리
                            <i class="right fas fa-angle-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../faculty/faculty_list.html" class="nav-link" data-menu="faculty">
                                <i class="far fa-circle nav-icon"></i>
                                <p>전문교육학과시간관리</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="../task/safety_list.html" class="nav-link">
                        <i class="nav-icon fas fa-tasks"></i>
                        <p>
                            업무관리
                            <i class="right fas fa-angle-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../task/safety_list.html" class="nav-link" data-menu="safety">
                                <i class="far fa-circle nav-icon"></i>
                                <p>안전보고현황</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../task/consignment_list.html" class="nav-link" data-menu="consignment">
                                <i class="far fa-circle nav-icon"></i>
                                <p>위탁기관관리</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../task/instructor_list.html" class="nav-link" data-menu="instructor">
                                <i class="far fa-circle nav-icon"></i>
                                <p>교관관리</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../task/curriculum-menagement_form.html" class="nav-link" data-menu="curriculum-management">
                                <i class="far fa-circle nav-icon"></i>
                                <p>일반인교육과정 관리(1/26추가)</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="../expense/traning_history_list.html" class="nav-link">
                        <i class="nav-icon fas fa-receipt"></i>
                        <p>
                            교육비관리
                            <i class="right fas fa-angle-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../expense/traning_history_list.html" class="nav-link" data-menu="training-history">
                                <i class="far fa-circle nav-icon"></i>
                                <p>교육내역</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../expense/settlement_list.html" class="nav-link" data-menu="settlement">
                                <i class="far fa-circle nav-icon"></i>
                                <p>정산내역</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../expense/payment_list.html" class="nav-link" data-menu="payment">
                                <i class="far fa-circle nav-icon"></i>
                                <p>납입관리</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="../board/notice_list.html" class="nav-link">
                        <i class="nav-icon fas fa-clipboard"></i>
                        <p>
                            게시판관리
                            <i class="right fas fa-angle-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../board/notice_list.html" class="nav-link" data-menu="notice">
                                <i class="far fa-circle nav-icon"></i>
                                <p>공지사항</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../board/resource_list.html" class="nav-link" data-menu="resource">
                                <i class="far fa-circle nav-icon"></i>
                                <p>자료실</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../board/qna_list.html" class="nav-link" data-menu="qna">
                                <i class="far fa-circle nav-icon"></i>
                                <p>1:1문의</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../board/popup_list.html" class="nav-link" data-menu="popup">
                                <i class="far fa-circle nav-icon"></i>
                                <p>팝업관리</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="../system/insider_list.html" class="nav-link">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>
                            시스템관리
                            <i class="right fas fa-angle-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../system/insider_list.html" class="nav-link" data-menu="insider">
                                <i class="far fa-circle nav-icon"></i>
                                <p>내부사용자관리</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../system/password_change.html" class="nav-link" data-menu="password">
                                <i class="far fa-circle nav-icon"></i>
                                <p>비밀번호변경</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../system/academic_import.html" class="nav-link" data-menu="academic">
                                <i class="far fa-circle nav-icon"></i>
                                <p>학사정보 가져오기</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!-- /.sidebar -->
</aside>