<div id="footer-block">
    <footer id="footer">
        <div class="container">
            <div class="footer-top">
                <ul class="footer-menu offset-263px">
                    <li><a href="javascript:;" onclick="window.open('../util/privacy.html','개인정보취급방침','width=1000, height=1000, menubar=no, status=no, toolbar=no, scrollbars=yes,');">개인정보취급방침</a></li>
                    <li><a href="javascript:;" onclick="window.open('../util/rejectEmail.html','개인정보취급방침','width=1000, height=700, menubar=no, status=no, toolbar=no, scrollbars=yes,');">이메일무단수집거부</a></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <div class="row row-40">
                    <div class="col-auto">
                        <div class="f-logo">
                            <div class="logo"><span class="sr-only">중앙대학교 원격미래교육원 로고</span></div>
                            <span>항공운항학과</span>
                        </div>
                    </div>
                    <div class="col">  <div class="footer-info">
                        (25601) 강릉시 범일로 579번길 24 (내곡동) 가톨릭관동대학교 창조관 511호 항공대학교학팀 비행교육원<br>
                        TEL : 033)649-7797 / FAX : 033)649-7703
                    </div>
                    <div class="copyright">COPYRIGHT(C) CATHOLIC KWANDONG UNIVERSITY. ALL RIGHTS RESERVED.</div></div>
                    <div class="col-auto">
                        <div class="row row-10">
                            <div class="col">
                                <select name="" id="" class="select-dark d-lg-inline-block min-width-210px">
                                    <option value="">관련 사이트</option>
                                    <option value="">120개씩 보기</option>
                                </select>
                            </div>
                            <div class="col">
                                <select name="" id="" class="select-dark d-lg-inline-block min-width-210px">
                                    <option value="">교내주요사이트</option>
                                    <option value="">120개씩 보기</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
