<div id="header-block">
    <div id="header">
        <aside class="header-top">
            <div class="container">
                <ul class="header-util">
                    <li><a href="../main/main.html"><i class="icon-top-home"></i> HOME</a></li>
                    <li><a href="#modal-login" data-toggle="modal"><i class="icon-top-user"></i> LOGIN</a></li>
                    <li><a href="javascript:;"><i class="icon-top-user"></i>LOGOUT</a></li>
                    <li><a href="../sitemap/sitemap.html"><i class="icon-top-sitemap"></i> SITEMAP</a></li>
                </ul>
            </div>
        </aside>
        <header class="header-bottom">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <h1 class="logo">
                            <a href="../main/main.html">
                                <i><span class="sr-only">가톨릭관동대학교</span></i>
                                <span>비행교육원</span>
                            </a>
                        </h1>
                    </div>
                    <div class="col">
                        <nav class="gnb">
                            <ul class="dep1">
                                <!-- 학생{ -->
                                <!-- <li><a href="../student/traning_list.html"><span>나의 훈련</span></a></li>
                                <li><a href="../student/flight_list.html"><span>나의 비행정보</span></a></li>
                                <li><a href="../student/faculty_list.html"><span>전문교육학과시간</span></a></li> -->
                                <!-- } -->

                                <!-- 위탁기간{ -->
                                <!-- <li><a href="../consignment/daily_list.html"><span>운항계획 및 실시사항</span></a></li>
                                <li><a href="../consignment/flight_info_list.html"><span>비행종합정보</span></a></li>
                                <li><a href="../consignment/student_edu_list.html"><span>학생/교관 관리</span></a></li>
                                <li><a href="../consignment/schedule_list.html"><span>비행스케쥴 관리</span></a></li>
                                <li><a href="../consignment/traning_history_list.html"><span>교육비관리</span></a></li> -->
                                <!-- } -->

                                <!-- 교관{ -->
                                <li><a href="../instructor/student_list.html"><span>교육 정보</span></a></li>
                                <li><a href="../instructor/flight_list.html"><span>비행정보관리</span></a></li>
                                <li><a href="../instructor/my_schedule_list.html"><span>비행스케줄</span></a></li>
                                <li><a href="../instructor/instructor_working.html"><span>업무관리</span></a></li>
                                <!-- } -->


                                <!-- 학생/교관 공통 {-->
                                <li><a href="../personal/personal_list.html"><span>나의정보</span></a></li>
                                <!-- } -->

                                <!-- 학생{ -->
                                <li>
                                    <a href="../board/notice_list.html"><span>지원센터</span></a>
                                    <ul class="dep2">
                                        <li><a href="../board/notice_list.html">공지사항</a></li>
                                        <li><a href="../board/resource_list.html">자료실</a></li>
                                        <li><a href="../board/qna_list.html">1:1문의</a></li>
                                    </ul>
                                </li>
                                <!-- } -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>