<meta charset="UTF-8">
<meta http-equiv="x-ua-Compatible" content="IE=edge">
<title>항공운항학과 | 가톨릭관동대학교</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">

<link rel="shortcut icon" href="../assets/images/favicon.ico">
<link rel="icon" type="image/png" href="../assets/images/favicon.png" sizes="192x192">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="../assets/lib/swiper/css/swiper-bundle.min.css">
<link rel="stylesheet" href="../assets/lib/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="../assets/lib/mCustomScrollbar/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="../assets/lib/select2/select2.min.css">
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css">


<link rel="stylesheet" href="../assets/css/bootstrap.css">
<link rel="stylesheet" href="../assets/css/style.css">


<script src="../assets/lib/jquery/jquery.min.js"></script>
<script src="../assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="../assets/lib/swiper/js/swiper-bundle.min.js"></script>
<script src="../assets/lib/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../assets/lib/select2/select2.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>

<script src="../assets/js/ui.js" defer></script>